<div class="container">
  <%= simple_form_for(@listing) do |f| %>
    <% if listing.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

        <ul>
          <% listing.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.input :title, :input_html => {:style=> 'width: 700px'} %>
    </div>

    <div class="field">
      <div class="form-group listing_manufacturer_ids">
        <label class="" for="listing_description">Description</label><br>
        <%= f.cktext_area :description %>
      </div>
    </div>

    <div class="field">
      <div class="form-group listing_manufacturer_ids">
        <label class="" for="listing_manufacturer_ids">Select Manufacturer</label><br>
        <%= f.collection_select :manufacturer_ids, Manufacturer.all, :id, :manufacturer, {}, {multiple:true, class: "select2", :style=> 'width: 700px'} %>
      </div>
    </div>

    <div class="field">
      <%= f.input :year, collection: 1950..2020, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :length, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :beam, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :draft, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :displacement, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :cabins, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :berths, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :engine, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :fuel, collection: [ "Gas", "Diesel", "Electric" ], :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :hours, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :horsepower, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <div class="form-group listing_state_ids">
        <label class="" for="listing_state_ids">Select State</label><br>
        <%= f.collection_select :state_ids, State.all, :id, :state, {}, {multiple:true, class: "select2", :style=> 'width: 700px'} %>
      </div>
    </div>

    <div class="field">
      <%= f.input :location, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :zip_code, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="field">
      <%= f.input :price, as: :numeric, :input_html => {:style=> 'width: 400px'} %>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
