<div class="container">
    <div class="row">
        <div class="col-4">
            <%= image_tag(@listing.thumbnail, class:'img-fluid') if @listing.thumbnail.attached? %>
            <div class="row">
                <div class="col-12">
                    <h4>
                        Are You Interested?
                    </h4>
                </div>
                <div class="col-12">
                    <h5>
                        <div id="like-count">
                            <%= render 'listings/likes', listing: @listing %>
                        </div>
                        <div id="like-link">
                            <%= render 'listings/like_link', listing: @listing %>
                        </div>
                        <hr />
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h6>
                        Message Owner
                    </h6>
                </div>
                <% @listing.manufacturers.each do |manufacturer| %>
                <div class="col-6">
                    <%= link_to manufacturer.name, root_path(manufacturer: manufacturer.name) %>
                </div>
                <% end %>
                <div class="col-12">
                    <% if current_user&.admin %>
                    <div class="btn-group">
                        <%= link_to 'Edit', edit_listing_path(@game), class: 'btn btn-warning' %>
                        <%= link_to 'Delete', @listing, method: :delete, class: 'btn btn-danger' %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h1>
                <% if params[:manufacturer].nil? %>
                <%= link_to @listing.title, root_path %>
                <% else %>
                <%= link_to @listing.title, root_path(manufacturer: params[:manufacturer], order: params[:order]) %>
                <% end %>
            </h1>
            <div class="container">
                <%= @listing.description %>
            </div>
        </div>
    </div>
</div>
<p id="notice"><%= notice %></p>
<%= image_tag(@listing.resized_thumbnail) if @listing.thumbnail.attached? %>
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @listing.equipment %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <% @listing.manufacturers.each do |manufacturer| %>
  <%= link_to manufacturer.name, listings_path(manufacturer: manufacturer.name) %>
  <% end %>
</p>

<p>
  <strong>Model:</strong>
  <%= @listing.model %>
</p>

<p>
  <strong>Length:</strong>
  <%= @listing.length %>
</p>

<p>
  <strong>Beam:</strong>
  <%= @listing.beam %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @listing.draft %>
</p>

<p>
  <strong>Displacement:</strong>
  <%= @listing.displacement %>
</p>

<p>
  <strong>Year:</strong>
  <%= @listing.year %>
</p>

<p>
  <strong>Cabins:</strong>
  <%= @listing.cabins %>
</p>

<p>
  <strong>Berths:</strong>
  <%= @listing.berths %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @listing.engine %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @listing.fuel %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @listing.hours %>
</p>

<p>
  <strong>Horsepower:</strong>
  <%= @listing.horsepower %>
</p>

<p>
  <strong>State:</strong>
  <% @listing.states.each do |state| %>
  <%= link_to state.state, root_path(state: state.state) %>
  <% end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @listing.zip_code %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Public name:</strong>
  <%= @listing.public_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @listing.phone_number %>
</p>

<p>
  <strong>Published:</strong>
  <%= @listing.published %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
