<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <%= image_tag(@listing.thumbnail, class:'img-fluid') if @listing.thumbnail.attached? %>
            <div class="row">
                <div class="col-12">
                    <h4>
                    </h4>
                </div>
                <div class="col-12">
                    <h5>
                        <div id="like-count">
                            <%= render 'listings/likes', listing: @listing %>
                        </div>
                        <div id="like-link">
                            <%= render 'listings/like_link', listing: @listing %>
                        </div>
                        <hr />
                    </h5>
                    Published on: <td><%= @listing.published %></td><p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h6>
                      <button type="button" class="btn btn-outline-primary">Message Owner</button>
                    </h6>
                </div>
                <div class="col-6">
                </div>
                <div class="col-12">
                    <% if current_user&.admin %>
                    <div class="btn-group">
                        <%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-warning' %>
                        <%= link_to 'Delete', @listing, method: :delete, class: 'btn btn-danger' %>
                    </div>
                    <% end %>
                  <p>
                  <h4>Owner's Contact</h4>
                  <strong>Name:</strong> <%= @listing.public_name %><p>
                  <strong>Email:</strong> <%= @listing.email %><br>
                  <strong>Phone:</strong> <%= @listing.phone_number %>
                  <p>
                  <h4>Sailboat's Location</h4>
                  <strong>Location:</strong> <td><%= @listing.location %></td><p>
                  <strong>State:</strong> <% @listing.states.each do |state| %>
                  <%= link_to state.state, root_path(state: state.state) %>
                  <% end %>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h1>
                <% if params[:manufacturer].nil? %>
                <%= link_to @listing.title, root_path %>
                <% else %>
                <%= link_to @listing.title, root_path(manufacturer: params[:manufacturer], order: params[:order]) %>
                <% end %>
            </h1>
            <div class="container">
                <%= @listing.description %><p>
                <h3>Specifications</h3>
                <div class="table-responsive-sm">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Model</th>
                        <th scope="col">Year</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><% @listing.manufacturers.each do |manufacturer| %>
                        <%= link_to manufacturer.name, listings_path(manufacturer: manufacturer.name) %>
                        <% end %></th>
                        <td><%= @listing.model %></td>
                        <td><%= @listing.year %></td>
                        <td>$<%= @listing.price %></td>
                      </tr>
                    </body>
                  </table>
                </div>

                <div class="table-responsive-md">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Length</th>
                        <th scope="col">Beam</th>
                        <th scope="col">Draft</th>
                        <th scope="col">Displacement</th>
                        <th scope="col">Cabins</th>
                        <th scope="col">Berths</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= @listing.length %>ft</td>
                        <td><%= @listing.beam %>ft</td>
                        <td><%= @listing.draft %>ft</td>
                        <td><%= @listing.displacement %>lbs</td>
                        <td><%= @listing.cabins %></td>
                        <td><%= @listing.berths %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive-md">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Engine</th>
                        <th scope="col">Horsepower</th>
                        <th scope="col">Fuel</th>
                        <th scope="col">Hours</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= @listing.engine %></td>
                        <td><%= @listing.horsepower %>hp</td>
                        <td><%= @listing.fuel %></td>
                        <td><%= @listing.hours %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
  <h3>Photos</h3>
  <% (0...@listing.images.count).each do |image| %>
                    <%= image_tag(@listing.manyimage(image)) %>
                    <% end %>
</div>
