<!DOCTYPE html>
<html>
  <head>
    <title>Boats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts'%>
    <%= yield %>
    <%=  render 'layouts/footer' %>
  </body>
</html>
